[api]
{% for node in groups['api'] %}
{{ node }} ansible_ssh_host={{ hostvars[node]['ansible_ssh_host'] }} ansible_ssh_user={{ hostvars[node]['ansible_ssh_user'] }}
{% endfor %}

[galera]
{% for node in groups['galera'] %}
{{ node }} ansible_ssh_host={{ hostvars[node]['ansible_ssh_host'] }} ansible_ssh_user={{ hostvars[node]['ansible_ssh_user'] }}
{% endfor %}

[puppet]
puppet-node ansible_ssh_host={{ hostvars['puppet-node']['ansible_ssh_host'] }} ansible_ssh_user={{ hostvars['puppet-node']['ansible_ssh_user'] }}

[ldap]
ldap-node ansible_ssh_host={{ hostvars['ldap-node']['ansible_ssh_host'] }} ansible_ssh_user={{ hostvars['ldap-node']['ansible_ssh_user'] }}
